/**
Fonts CSS

Katelynn Ngo
301178351
IAT 339 | D101
P01 Final Deliverable
**/

@font-face {
	font-family: 'Circular Std';
	src: url('CircularStd-Black.eot');
	src: url('CircularStd-Black.eot?#iefix') format('embedded-opentype'),
		url('CircularStd-Black.woff2') format('woff2'),
		url('CircularStd-Black.woff') format('woff'),
		url('CircularStd-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Circular Std';
	src: url('CircularStd-Bold.eot');
	src: url('CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
		url('CircularStd-Bold.woff2') format('woff2'),
		url('CircularStd-Bold.woff') format('woff'),
		url('CircularStd-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
