
body {
	font-family: 'Circular Std', Verdana, sans-serif;
	font-size: 1em;
	margin: 1em 3% 0;

}

section {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding-bottom: 1em;
	border-bottom: 0.05em solid #303030;
}


section ol, ul {
	margin: 0.8em;
	font-size: 0.8em;
	letter-spacing: 0.05rem;
	list-style: none;
}

section code {
	background-color: #EEE;
	padding: 0.5em 0.75em;
	display: block;
}


a {
    text-decoration: none;
}


li {
	padding-bottom: 0.5em;
}

section h1 {
	font-family: "Circular Std", Verdana, sans-serif;
	font-size: 1.5rem;
	margin-top:1.5rem;
	margin-bottom: 0;
}

section h2 {
	font-family: "Circular Std", Verdana, sans-serif;
	font-size: 1.25rem;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	width: 100%;
}

section h3 {
	font-family: Garamond, Times, serif;
	font-size: 1.10em;
	font-style: italic;
	margin-top: 1.25rem;
	margin-bottom: 0.75rem;
	letter-spacing: 0.08em;
}

section h4 {
	font-family: "Circular Std", Verdana, sans-serif;
	font-size: .75rem;
	text-transform: uppercase;
	letter-spacing: 0.08em;
}

nav h4 {
    font-weight: bold;
    margin-bottom: 0.7em;
    margin-top: 0;
    padding: 0 0.5em;
}


/*-------------------------Cart------------------------*/

.tester-title h4{
	padding: 0.5em 0;
	margin: 0 0 0.5em 0;
	text-align: center;
	font-size: 0.8em;
	border-bottom: 1px solid #000;
}

.cart-img{
	width: 100%;
	height: 200px;

}

.cart-img img{
	width:100%;
	height:100%;
	object-fit: cover;

}

.tester-description h4{
	width: 100%;
	height: 50%;
	margin: 1em 0 0 0;
	padding: 1em 0 1em 0;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	font-size: 0.8em;
	font-weight: normal;
	border: 1px solid #f1f1f1;
}


.tester-description .current-price h4{
	border: none;
}

/*---Something weird is going on here at the cart */
.fixed-description h4{
	display: inline-block;
	margin: 0;
	padding: 0;
	color: #000;
	font-size: 0.8em;
	font-weight: normal;
}


.summary {



}

.summary-stop {
	position: absolute;

}



.summary-title h4{
	padding: 0.5em 0;
	margin: 0 0 0.5em 0;
	text-align: center;
	font-size: 0.8em;
	border-bottom: 1px solid #000;
}

.summary-cost {
	text-align: right;
}

.summary .button {
	text-align: center;
	width:100%;
}

.summary p {
	font-size: 0.8em;
	margin:0;

}
.summary-sub {
	color: #C0C0C0;

}

.summary-total {
	color: #000;
	font-size: 1em !important;
	font-weight: bold;

}

.summary-total-divider .grid-col-1of1{

	padding: 0 1em;

}

.summary-total-divider p{
	border-top: 1px solid #c0c0c0;
}
.cart-description-grid .grid-col-1of4{
	padding: 0 1em 1em 1em;
}

.cart-card{
	border-bottom: 1px solid #f1f1f1;
}

.remove-button {
	display: inline-block;
	padding: 0.7em 1em;
	margin: 1em;
	color: #000;
	background-color: #FFF;
	border: 2px solid #000;
	font-size: 1rem;
	text-decoration: none;
	letter-spacing: 0.05rem;
	font-weight: normal;
	text-align: center;
}

/* Review */

.customer-reviews-container{
	height: 14em; 
	overflow: auto;
	border: 0.5px solid #f1f1f1;
}

.add-review input[type=text], .send-email input[type=text] {
	width: 100%;
	border: 0.5px solid #f1f1f1;
	padding: 0.5em;
	outline: none;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
}

.add-review input[type=text]:focus, .send-email input[type=text]:focus {
	 box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	 border: 1px solid rgba(81, 203, 238, 1);
}


.add-review label, .send-email label {
	display: block;
	padding: 0 0 0.5em 0;
	
}

.add-review textarea, .send-email textarea{
	margin-top: 1em;

}
#review-card {
	border-bottom: 1px solid #f1f1f1;
	padding-left: 1em
}


.review-container {
	width: 100%;
	position: relative;
	padding: 0 1em;
	margin: 1em 0 0 0;
	border-top: 2px solid #f1f1f1;
}

.review-description p{
	font-size: 0.8em;
	margin-bottom: 1em;
}

.review-description h4 {
	margin: 0.5em 0;
}

.review-date {
	font-style: italic;
	font-family: Garamond, Times, serif;
	font-size: 1.10em;
	margin-top: 1em;
	margin-bottom: 0;
	font-style: italic;
	letter-spacing: 0.08em
}



/*-------------------------Checkout-------------------*/

.breadcrumbs{
	margin-left:2em;

}
.breadcrumbs p{
	color: #c0c0c0;
	display: inline-block;
	margin-bottom: 0;

}
.breadcrumbs-arrow {
	margin: 0 0.8em;
}

.breadcrumbs .active{
	color: #000;

}


.breadcrumbs .inactive {
	color: #c0c0c0;
}

.breadcrumbs a:hover, .breadcrumbs a:focus{
	text-decoration: underline;
}

.checkout {
	margin: 1em;
}

.checkout label {
	display: block;
	padding: 0.5em 0 0.5em 0;
}
.checkout-name .grid-col-1of2, .checkout-name .grid-col-1of1{
	padding: 0 1em 1em 0;
}


select {
    width: 100%;
    border-radius: 1px;
    height: 31.5px;
    background-color: #ffffff;
	border: 0.5px solid #C0C0C0;
}



.checkout-title {
	border-bottom: 1px solid #000;
	padding-bottom: 0.3em;
}

.checkout input[type=text]{
	width: 100%;

	border: 0.5px solid #C0C0C0;
	padding: 0.5em;

}

.add-gift-card, .credit-card-info {
	border-bottom: 1px solid #f1f1f1;
}

.add-gift-card input[type=text] {
	width: 100%;
	min-width: 0;
}

.add-gift-card label {
	padding: 0 0 0.5em 0;
}

.add-gift-card .grid-col-1of2 {
	padding: 0 1em 1em 0;
}

.add-gift-card .submit-button, .checkout .submit-button, .checkout .cancel-button {
	float: right;
	margin:0;
}

.checkout .submit-button, .checkout .cancel-button{
	margin: 1em;
}

label[for=form-card-number] {
	padding-top: 0;
}

.credit-card-info {
	padding-bottom: 2em;
}

.credit-card-info h4{
	margin-bottom: 0;
}
.credit-card-info .short input[type=text] {
	width: 50px;
	min-width: 0;
	border: 0.5px solid #C0C0C0;

}

.short, .shorten-input {
	padding-top: 1em;
}
input[type=checkbox]{
	margin-right: 0.5em;

}

.billing-address {

	margin-top: 1em;
}

.billing-address-section p{
	font-weight: normal;
}


.shorten-input input[type=text]{
	width: 50%;
	min-width: 260px;
}

.item-summary h3 {
	font-size: 1em;
	margin: 3em 0 0 1em;
}

.checkout-review{
	font-size: 0.8em;
}

.cart-review{
	font-size: 0.8em;
}

.checkout-review p {
	margin: 1em 0;
}

.checkout-review .text-link{
	color: #c0c0c0;
}

.info-summary .grid-col-1of2 {
	padding: 0;

}


.order-confirmation {
	margin: 0 10%;
	text-align: center;
}

.order-confirmation .button, .order-confirmation .secondary-button{
	margin: 1em;

}

.order-confirmation p {
	padding-bottom: 2em;
}


/* Shop Banner */

.shop-banner{
	margin: 0 1em;
	position: relative;
	height: 30vw;
	overflow: hidden;
}
.shop-banner img{
	position: absolute;
	object-fit: cover;
	height:100%;
	width: 100%;
}

/* Sidebar Navigation */

.side-nav {
	list-style-type: none;
	float:left;
	padding: 1em;
	height: 100%;
	overflow: auto;
}

.side-nav h4{
	padding-left: 0.4em;
}

.side-nav-item {
	display: block;
	color: #000;
	padding: 0.5em;
	text-decoration: none;
	font-size: 0.8em;
}

.side-nav-item:hover {
	color: #000;
	text-decoration: underline;
}

.side-nav-item:active{
	font-weight: bold;
}



/* Pagnation -*/

.pagnation {
    border-top: 1px solid #ededed;
    clear: left;
    margin-top: 40px;
    padding: 14px 0;
    text-align: center;
}

.pagnation a {
    color: #111;
}

.page{
	display: inline-block;
	padding: 2em;
	font-size: 1em;
}

.next-page {
    float: right;
    margin-right: 10px;
    padding: 1.5em;
}

.next-page:hover {
    text-decoration: underline;
}


/* DONT NEED

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
*/

/* ------------------- Interactive Elements ------------------- */

/** Styling for In-text Links **/
.text-link {
  font-size: 0.9em;
  font-weight: lighter;
  color: #000;
  text-decoration: none;
}

.text-link:hover {
  text-decoration: underline;
}

.main-nav{
	text-align: center;
}

/** Styling for Navigation Button **/
.main-nav-item {
  display: inline-block;
  color: #000;
  font-size: 0.9em;
  font-weight: normal;
  text-decoration: none;
  letter-spacing: 0.08rem;

}

.main-nav-item:hover, .main-nav-item:focus {
	border-bottom: 2px solid #C0C0C0;
  	color: #C0C0C0;
/*  	-webkit-transition: color 0.2s ease-out;
  	-moz-transition: color 0.2s ease-out;
  	-o-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;*/


}

.button {
  display: inline-block;
  padding: 0.7em 2em;
  color: #FFF;
  background-color: #000;
  border: 2px solid #000;
  font-size: 1rem;
  text-decoration: none;
  letter-spacing: 0.05rem;
  font-weight: normal;
}

.button:hover, .button:focus, .secondary-button:hover, .secondary-button:focus, .addtocart-button:hover, .viewcart-button:hover, .remove-button:hover, .addtocart-button:focus, .viewcart-button:focus, .remove-button:focus {
  background-color: #F8F8F8;
  color: #000;

}

.secondary-button {
	display: inline-block;
  	padding: 0.7em 2em;
  	border: 2px solid #000;
  	font-size: 1rem;
  	text-decoration: none;
  	letter-spacing: 0.05rem;
	color: #000;
	background-color: #fff;
}

.nav-img {
	width: 100%;
	height: 250px;
}

.nav-img img{
	object-fit: cover;
	width: 100%;
	height: 100%;

}

.dropdown-nav {
	position: relative;
}

.dropdown-content {
	display: none;
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 330px;
	left: 0;
	top: 50px;
	text-align: left;
	background-color: #fff;
}

.dropdown-content .grid-row{
	width: 65%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%)
}


.dropdown-content ul{
	position: relative;
	list-style: none;
	width: 100%;
	margin: 0;

}

.dropdown-content img {
	position: relative;
	width: 500px;
}

.dropdown-content a{
	color: black;
	text-decoration: none;
	display: block;
	padding: 0.3rem;
}

.dropdown-content h4{
	padding: 0;

}

.dropdown-content a:hover {
	text-decoration: underline;

}

.dropdown-nav:hover .dropdown-content {
	display: block;
}




/** Styling for Forms and Submit/Reset **/
form {
	margin: 0;
	font-size: 0.8em;
	font-weight: bold;
	text-decoration: none;
}

input[type=text]{
	display: inline-block;
	margin-bottom: 0;
	padding: 1em 1em 0 1em;
	width: 100%;
	border: none;
	border-bottom: 0.15rem solid #000;
	color: #000;
	background-color: transparent;
	font-weight: 400; 


}

label {
	font-size: 1.2em;
	margin-bottom: 0;
	vertical-align: bottom;

}

textarea:focus, input:focus{
	outline: 0;
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);

}

input.submit-button {
  display: inline-block;
  margin: 1em 0;
  padding: 1em 2em;
  color: #FFF;
  background-color: #000;
  border-color: #000;

  text-decoration: none;
  letter-spacing: 0.05rem;

}

.submit-button:hover, .submit-button:focus {
  background-color: #F8F8F8;
  color: #000;

}

/*
input.cancel-button {
  display: inline-block;
  margin: 0.25em 0.25em;
  padding: 0.5em 0.5em;
  padding: 1em 2em;
  color: #000;
  background-color: #FFF;
  border-color: #000;
  text-decoration: none;
  letter-spacing: 0.05rem;
  opacity: 0.5;

}*/

.cancel-button {
  display: inline-block;
  margin: 0.25em 0.25em;
  padding: 0.5em 0.5em;
  padding: 1em 2em;
  color: #000;
  background-color: #FFF;
  border: 2px solid #000;
  text-decoration: none;
  letter-spacing: 0.05rem;
  opacity: 0.5;

}
.cancel-button:hover, .cancel-button:focus {
	opacity: 1;


}


/* ------------------- Colour Palette Elements ------------------- */

/** Styling for Colour Palette**/
.swatch{
	margin: 0.25em 0.25em;
  	padding: 0.75em 1em;
	text-align: center;
	width: 150px;
	height: 20px;
}

.black{
	background-color: #000;
}

.grey{
	background-color: #303030;
}

.light-grey{
	background-color: #C0C0C0;
}

.off-white{
	background-color: #F8F8F8;
	border: 0.05rem solid #000;

}

.navy{
	background-color: #290066;
}

.periwinkle{
	background-color: #9999ff;
}

.gold{
	background-color: #e5c100;
}

.silver{
	background-color: #C0C0C0;
}

/* ------------------- Combined Elements ------------------- */

/** Styling for Images **/
img {
	height: auto; 
	max-width: 100%;
}

figure {
	margin: 0;
}

figcaption {
	font-family: Garamond, Times, serif;
	font-style: italic;
}

/*-------------------------About-----------------------------*/

.about-img {
	height:auto;
	margin-bottom: 2em;
}

.about-content p {
	font-size: 0.8em;
}


/*-------------------------Product Listing-------------------*/


.product-img {
  	background-color: #FFF;
  	position: relative;
}

.main-img {
	position:absolute;
	left: 0;
	top: 0;
}

.main-img:hover{
  	opacity: 0;
}

.product-preview .grid-col-1of4 {
	padding: 0.5em 1em 1em 0;
}

.product-name{
	font-size: 0.8em;
	font-weight: normal;
	margin-bottom: 0;
	text-decoration: none;
	color: #303030;
}

.product-name:hover {
	color: #484848;
	text-decoration: underline;
	-webkit-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
}


/*.product-details h4 {
	font-family: "Circular Std", Verdana, sans-serif;
	font-size: 1.4em;
	margin: 0.5em 0;
	letter-spacing: 0.07em;
}*/

.product-details .price-tag {
	font-size: 1.5em;

}

.description-title h4 {
	font-family: "Circular Std", Verdana, sans-serif;
	font-size: 0.8em;
	margin-top: 0;
	margin-bottom: 0.5em;
	letter-spacing: 0.07em;
	text-transform: uppercase;
}

.product-description {
	margin: 0em;
	font-size: 0.70rem;
	letter-spacing: 0.05rem;
	max-width: 50em;
}

.price-tag{
	 margin-top: .25em;
	 font-family: Garamond, Times, serif;
	 font-size: 0.8em;
	 font-style: italic;
	 font-weight: bolder;
	 letter-spacing: 0.08em;
	 text-decoration: none;
	 color: #303030;
}


.addtocart-button {
	display: inline-block;
	padding: 0.7em 1em;
	width: 75%;
	color: #FFF;
	background-color: #000;
	border: 2px solid #000;
	font-size: 1rem;
	text-decoration: none;
	letter-spacing: 0.05rem;
	font-weight: normal;
	text-align: center;
}

.viewcart-button {
	display: inline-block;
	padding: 0.7em 1em;
	width: 75%;
	color: #fff;
	background-color: #505050;
	border: 2px solid #505050;
	font-size: 1rem;
	text-decoration: none;
	letter-spacing: 0.05rem;
	font-weight: normal;
	text-align: center;
}

.sizechart-link {
	font-size: 0.8em;
	font-weight: lighter;
	color: #000;
	margin: 3em 0;
	text-decoration: underline;
}

.sizechart-link:hover {
	color: #909090;
	text-decoration: underline;
}


.product-detail-header {
	margin: 0 0 1.5em 0;
}

.product-detail-title {
	font-size: 1.4em;
	margin: 0.5em 0 1em 0;
	letter-spacing: 0.04em;
}


[class^='area-'] {
	margin: 0em 0 1.5em 0;
}

.area-color {
	
}

.area-selection .grid-col-1of3 {
	padding: 0;
	margin: 0 1em 1em 0;
}

.area-description p {
	font-size: 0.8em;
	width: 75%;
	margin: 0;
	color: #707070;
	letter-spacing: 0.03em;
}

.area-additional p, ul {
	letter-spacing: 0.05em;
	font-size: 0.8em;
	list-style: circle;
	padding: 0 0 0.5em 1em;
	margin: 0;
	color: #707070;

}

.area-chart {
}

/* Colour Selection */

.colour-swatch{
	float: left;
	margin: 0 1.5em 0 0;
	width: 50px;
	height: 45px;
	border: none;
}

.colour-swatch:focus{
	border: 2px solid;
	border-color: #000;
}

/* Size and Quantity Selection */

.size-button{
    background-color: #FFF;
    color: #909090;
    padding: 16px;
    font-size: 0.8em;
    border: 0.5px solid #f1f1f1;
}

.dropdown-size-button{
	/*position: relative;*/
    display: inline-block;
}

.dropdown-size-button-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 106px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 12;
}

.dropdown-size-button-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 0.8em;
    text-align: center;
}

.dropdown-size-button-content a:hover {
	background-color: #f1f1f1
}

.dropdown-size-button:hover .dropdown-size-button-content {
    display: block;
}

.dropdown-size-button:hover .size-button {
    background-color: #f1f1f1;
}

.quantity-form input[type=number]{
	display: block;
	margin: 0 1em 0 0;
	padding: 16px;
	width: 75px;
	height: 31px;
    border: 0.5px solid #f1f1f1;
}

.tester-title .quantity-form input[type=number]{
	display: block;
	margin: 1em 0 0 0;
	padding: 1em;
	width: 100%;
	height: 50%;
    border: 0.5px solid #f1f1f1;
}

.tester-title select{
    height: 45px;
    font-size: 0.8em;
}


option:checked {
	display:none;
}

/* Recommendations */

.recommended-container h4{
	width: 100%;
	position: relative;
	padding: 1em 1em 0 1em;
	margin: 1em 0 0 0;
	border-top: 2px solid #f1f1f1;
}



/*-----------------------------Landing------------------------*/

/* Global Navigation */
#global-nav {
	position:relative;
	padding:0;
	background: #fff;
    border-bottom: 1px solid #f1f1f1;
}

#logo {
	margin:0;
	text-decoration: none;
	color: black;
	height: auto;
	width: 165px;
	padding: 0.7rem 1em;
}

.secondary-nav {
	position: absolute;
	right: 0;
}
.secondary-nav-item {
	float: left;
}

.material-icons {
	color: #C0C0C0;

}



.material-icons:hover, .material-icons:focus {
	color: #000;
	-webkit-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
}

.landing-banner {
	background-color: #C0C0C0;
	height: 40vw;
	margin: 0 1em;
	overflow: hidden;
	position: relative;
}

.landing-banner p {
	font-size: 1.3rem; 
	font-family: "Circular Std", Verdana, sans-serif;
	font-weight: bold;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
	position: relative;
}

.landing-banner .featured-content {
	left: 3vw;
	top: 70%;

}

.landing-banner img{
	object-fit: cover;
	height:100%;
	width: 100%;
}


/* Footer */

#global-footer {
	border: none;
	background-color: #F7F7F7;
	margin: 3.5em -3% -3% -3%;
	padding: 2em 3em;
	width: auto:;
	color: #000;

}

.fa  {
	font-size: 1.5em  !important;
	color: #000;
	width: 3rem;

}

.social-icon {
	text-align: center;
}

.fa:hover {
	color: #303030;
	-webkit-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;

}


.footer-nav li{
	list-style: none;
	padding-bottom: 1em;
}

.footer-nav {
	padding-left: 0;
	margin:0;
}

#global-footer h4, #global-footer h2, #global-footer p {
	margin: 0;
	padding: 0 !important;
	margin-bottom: 0.5em;

}

.newsletter-form input.submit-button{
	display: inline;
  	width: 100px;
  	float: right;
}


.newsletter-form input[type=text]{

	padding: 0.5em 0.5em 0.1em 0.5em;
}

textarea{
	width: 100%;
	height: 150px;
	max-width: 100%;
	max-height: 300px;
	border: 0.5px solid #f1f1f1;
	background-color: #FFF;
	color: #000;
	font-weight: normal;
	padding: 5px;
	outline: none;
}


/* Featured Section */



#featured {
	border: none;
	margin-top: 1em;
}

#featured .text-link{
	
}

.large-featured, .small-featured {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.small-featured {
	height: 300px;
}
.large-featured {
	height: 630px;
	margin-top: 1em;
	margin-bottom: -1em;
}


.img-featured {
	position: absolute;
	left: 3vw;
}



.large-featured img, .small-featured img{
	width: 100%;
	height: 100%;
	object-fit: cover;

}




.featured-content{
	position: absolute;
	top: 50%;
	width: 50%;
	z-index: 2;
	transform: translateY(-50%);


}



.large-featured p, .small-featured p  {
	font-size: 1.4rem; 
	font-family: "Circular Std", Verdana, sans-serif;
	font-weight: bold;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
	position: relative;

}



.featured-underline {
	border-bottom: 2px solid #000;
	width: 50px;
}


/*-------------------------Blog-----------------------*/

.title {
	text-align: center;
	margin-top: 2em;
}

.blog-description p{
	font-size: 0.8em;
	margin-bottom: 1em;
}

.blog-description h4 {
	margin: 0.5em 0;
}

.blog-img {
	width: 100%;
	height: 200px;
}

.blog-img img{
	object-fit: cover;
	width: 100%;
	height: 100%;

}

.blog-date {
	font-style: italic;
	font-family: Garamond, Times, serif;
	font-size: 1.10em;
	margin-top: 1em;
	margin-bottom: 0;
	font-style: italic;
	letter-spacing: 0.08em
}


/*-------------------------Stockists-------------------*/

.store-name {
	font-weight: bold;
}

.store-contact p, .store-location p {
	margin:0;
}

#stockists h3{
	padding: 0 0.7em;
}

/*-------------------------Contact-------------------*/

.send-email{

}

.send-email form{
	width: 100%;
	margin-top: 3em;

}

.send-email .submit-button {
	float: right;
}

.email-confirm {
	text-align: center;
}

.email-confirm p {
	padding-bottom: 2em;
}
