
body {
	font-family: 'Circular Std', Verdana, sans-serif;
	font-size: 1em;
	margin: 1em 3% 0;

}

section {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding-bottom: 1em;
	border-bottom: 0.05em solid #303030;
}


section ol, ul {
	margin: 0.8em;
	font-size: 0.8em;
	letter-spacing: 0.05rem;
	list-style: none;
}

section code {
	background-color: #EEE;
	padding: 0.5em 0.75em;
	display: block;
}


a {
    text-decoration: none;
}


li {
	padding-bottom: 0.5em;
}

section h1 {
	font-family: "Circular Std", Verdana, sans-serif;
	font-size: 1.5rem;
	margin-top:1.5rem;
	margin-bottom: 0;
}

section h2 {
	font-family: "Circular Std", Verdana, sans-serif;
	font-size: 1.25rem;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	width: 100%;
}

section h3 {
	font-family: Garamond, Times, serif;
	font-size: 1.10em;
	font-style: italic;
	margin-top: 1.25rem;
	margin-bottom: 0.75rem;
	letter-spacing: 0.08em;
}

section h4 {
	font-family: "Circular Std", Verdana, sans-serif;
	font-size: .75rem;
	margin-top: 1.25rem;
	margin-bottom: 0.75rem;
	text-transform: uppercase;
	letter-spacing: 0.08em;
}

nav h4 {
    font-weight: bold;
    margin-bottom: 0.7em;
    margin-top: 0;
    padding: 0 0.5em;
}


.container {
	width: 100%;
	position: relative;
	margin-top: 2em;
}

.recommended-container h4{
	width: 100%;
	position: relative;
	padding: 1em 1em 0 1em;
	margin: 1em 0 0 0;
	border-top: 2px solid #f1f1f1;
}


/*------Cart----*/

.tester-title h4{
	width: 100%;
	height: 50%;
	padding: 0.5em 0;
	margin: 0 0 0.5em 0;
	text-align: center;
	font-size: 0.8em;
	border-bottom: 1px solid #000;
}






.tester-photo{
	width: 100%;
	height: auto;

}




.tester-description h4{
	width: 100%;
	height: 50%;
	background-color: #f1f1f1;
	margin: 1em 0 0 0;
	padding: 1em 0 1em 0;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	font-size: 0.8em;
	font-weight: normal;
}

/*---Something weird is going on here at the cart */
.fixed-description h4{

	margin: 1em 0 0 0;
	padding: 0 0 0 1em;
	color: #000;
	font-size: 0.8em;
	font-weight: normal;

}

.fixed-description .grid-row{
	margin: 1em 0;
}

.summary-title h4{
	text-align: center;
	border-bottom: 1px solid #000;
	padding:0 0 1em 0;
}

.summary-cost {
	text-align: right;
}

.summary .button {
	text-align: center;
	width:100%;
}

.summary p {
	font-size: 0.8em;

}
.summary-sub {
	color: #C0C0C0;

}

.summary-total {
	color: #000;
	font-weight: bold;
}




.cart-description-grid .grid-col-1of3{
	padding: 0 1em 1em 1em;
}

.all-cards .grid-col-2of3 {
	border-right: 0.5px solid #f1f1f1;
}

.cart-card{
	border-bottom: 1px solid #f1f1f1;

}

.remove-button {
	display: inline-block;
	padding: 0.7em 1em;
	margin: 1em;
	color: #000;
	background-color: #FFF;
	border: 2px solid #000;
	font-size: 1rem;
	text-decoration: none;
	letter-spacing: 0.05rem;
	font-weight: normal;
	text-align: center;
}



/*-----------Checkout---------------*/

.checkout {
	margin: 1em;
}

.checkout label {
	display: block;
	padding: 1.5em 0 0.5em 0;
}

.checkout-title {
	border-bottom: 1px solid #000;
	padding-bottom: 0.45em;

}

.checkout input[type=text]{
	width: 50%;
	min-width: 300px;
	border: 0.5px solid #C0C0C0;
	padding: 0.5em;

}

.add-gift-card, .credit-card-info {
	border-bottom: 1px solid #f1f1f1;
}
.add-gift-card input[type=text] {
	width: 100%;
	min-width: 0;
}

.add-gift-card label {
	padding: 0 0 0.5em 0;
}

.add-gift-card .grid-col-1of2 {
	padding: 0 1em 1em 0;
}

.add-gift-card .secondary-button {
	float: right;
}

label[for=form-card-number] {
	padding-top: 0;
}

.credit-card-info {
	padding-bottom: 2em;
}
.credit-card-info .short input[type=text] {
	width: 50px;
	min-width: 0;
	border: 0.5px solid #C0C0C0;


}

input[type=radio]{
	margin-right: 0.5em;

}

.billing-address {

	margin-top: 1em;
}

.billing-address-section p{
	font-weight: normal;
}

.shipping-info-summary, .payment-info-summary {
	margin-top: 2em;
}

.checkout-review{
	font-size: 0.8em;

}

.checkout-review p {
	margin: 1em 0;
}



.order-confirmation {
	margin: 0 10%;
	text-align: center;
}

.order-confirmation .button, .order-confirmation .secondary-button{
	margin: 1em;

}
/*-----------Review---------------*/
.add-review input[type=text] {
	width: 100%;

	border: 0.5px solid #f1f1f1;
	padding: 0.5em;

}
.add-review label {
	display: block;
	padding: 0 0 0.5em 0;
	font-weight: normal;
}

.add-review textarea{
	margin-top: 1em;

}
#review-card{
	border-bottom: 1px solid #f1f1f1
}

.review-container {
	width: 100%;
	position: relative;
	padding: 0 1em;
	margin: 1em 0 0 0;
	border-top: 2px solid #f1f1f1;
}

.review-description p{
	font-size: 0.8em;
	margin-bottom: 1em;
}

.review-description h4 {
	margin: 0.5em 0;
}

.review-date {
	font-style: italic;
	font-family: Garamond, Times, serif;
	font-size: 1.10em;
	margin-top: 1em;
	margin-bottom: 0;
	font-style: italic;
	letter-spacing: 0.08em
}


/* About Banner */

/*.about-banner{
	margin: 0 1em;
	position: relative;
	height: 500px;
	overflow: hidden;
}
.about-banner img{
	position: absolute;
	top: -30%;
	width: 100%
}*/

.content {
    padding: 1em;
    font-size: 0.8em
}


/*Shop Banner*/

.shop-banner{
	margin: 0 1em;
	position: relative;
	height: 30vw;
	overflow: hidden;
}
.shop-banner img{
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	width: 100%
}


/*Side Menu List Container*/

.menu-list-grid{
	margin-left: 20%
}

.customer-reviews-container{
	height: 14em; 
	overflow: auto;
	border: 0.5px solid #f1f1f1;
}


.menu-list-nav {
    position: absolute;
    padding: 0 900px;
    top: 0;
    left: 0;
    width: 195px;
}




/*Sidebar Navigation*/

.side-nav {
	list-style-type: none;
	float:left;
	padding: 1em;
	height: 100%;
	overflow: auto;
}

.side-nav-item {
	display: block;
	color: #000;
	padding: 0.5em;
	text-decoration: none;
	font-size: 0.8em;
}

.side-nav-item:hover {
	color: #000;
	text-decoration: underline;
}

.side-nav-item:active{
	font-weight: bold;
}



/* Pagnation */

.page{
	display: inline-block;
	padding: 2em;
	font-size: 1em;
}

.pagnation {
    text-align: center;
}

.toolbar-bottom {
    border-top: 1px solid #ededed;
    clear: left;
    margin-top: 40px;
    padding: 14px 0;
}

.next-page {
    float: right;
    margin-right: 10px;
    padding: 1.5em;
}

.next-page:hover {
    text-decoration: underline;
}

.toolbar-bottom a {
    color: #111;
}


.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}


/* ------------------- Interactive Elements ------------------- */

/** Styling for In-text Links **/
.text-link {
  font-size: 0.9em;
  font-weight: lighter;
  color: #000;
  text-decoration: none;
}

.text-link:hover {
  text-decoration: underline;
}

.main-nav{
	text-align: center;
}

/** Styling for Navigation Button **/
.main-nav-item {
  display: inline-block;
  color: #303030;
  font-size: 0.9em;
  font-weight: normal;
  text-decoration: none;
  letter-spacing: 0.08rem;
}

.main-nav-item:hover, .main-nav-item:focus {
  text-decoration: line-through;

}

.button {
  display: inline-block;
  padding: 0.7em 2em;
  color: #FFF;
  background-color: #000;
  border: 2px solid #000;
  font-size: 1rem;
  text-decoration: none;
  letter-spacing: 0.05rem;
  font-weight: normal;
}

.button:hover, .button:focus, .secondary-button:hover, .secondary-button:focus, .addtocart-button:hover, .remove-button:hover, .addtocart-button:focus, .remove-button:focus {
  background-color: #F8F8F8;
  color: #000;

}

.secondary-button {
	display: inline-block;
  	padding: 0.7em 2em;
  	border: 2px solid #000;
  	font-size: 1rem;
  	text-decoration: none;
  	letter-spacing: 0.05rem;
	color: #000;
	background-color: #fff;
}


.dropdown-nav {
	position: relative;
}

.dropdown-content {
	display: none;
	position: absolute;
	z-index: 10;
	width: 100%;
	height: 330px;
	left: 0;
	top: 50px;
	text-align: left;
	background-color: #fff;

}

.dropdown-content .grid-row{
	width: 65%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%)
}


.dropdown-content ul{
	position: relative;
	list-style: none;
	width: 100%;
	margin: 0;

}

.dropdown-content img {
	position: relative;
	width: 500px;
}

.dropdown-content a{
	color: black;
	text-decoration: none;
	display: block;
	padding: 0.3rem;
}

.dropdown-content h4{
	padding: 0;

}

.dropdown-content a:hover {
	text-decoration: underline;

}

.dropdown-nav:hover .dropdown-content {
	display: block;
}



/** Styling for Forms and Submit/Reset **/
form {
	margin: 0;
	font-size: 0.8em;
	font-weight: bold;
	text-decoration: none;
}

input[type=text]{
	display: inline-block;
	margin-bottom: 0;
	padding: 1em 1em 0 1em;
	width: 100%;
	border: none;
	border-bottom: 0.15rem solid #000;
	color: #000;
	background-color: transparent;

}

label {
	font-size: 1.2em;
	margin-bottom: 0;
	vertical-align: bottom;

}

textarea:focus, input:focus{
    outline: 0;
}

input.submit-button {
  display: inline-block;
  margin: 1em 0;
  padding: 1em 2em;
  color: #FFF;
  background-color: #000;
  border-color: #000;
  font-size: 0.90em;
  text-decoration: none;
  letter-spacing: 0.05rem;

}

.submit-button:hover, .submit-button:focus {
  background-color: #F8F8F8;
  color: #000;

}


input.cancel-button {
  display: inline-block;
  margin: 0.25em 0.25em;
  padding: 0.5em 0.5em;
  padding: 1em 2em;
  color: #000;
  background-color: #FFF;
  border-color: #000;
  font-size: 0.90em;
  text-decoration: none;
  letter-spacing: 0.05rem;
  opacity: 0.5;

}

.cancel-button:hover, .cancel-button:focus {
	opacity: 1;


}

.cancel-button:hover, .cancel-button:focus {
	opacity: 1;


}

/* ------------------- Colour Palette Elements ------------------- */

/** Styling for Colour Palette**/


.swatch{
	margin: 0.25em 0.25em;
  	padding: 0.75em 1em;
	text-align: center;
	width: 150px;
	height: 20px;
}

.black{
	background-color: #000;
}

.grey{
	background-color: #303030;
}

.light-grey{
	background-color: #C0C0C0;
}

.off-white{
	background-color: #F8F8F8;
	border: 0.05rem solid #000;

}

.navy{
	background-color: #290066;
}

.periwinkle{
	background-color: #9999ff;
}

.lavendar{
	background-color: #e6e6ff;
}

.peach{
	background-color: #ffe6e6;
}

/* ------------------- Combined Elements ------------------- */

/** Styling for Images **/
img {
	height: auto; 
	max-width: 100%;
}

figure {
	margin: 0;
}

figcaption {
	font-family: Garamond, Times, serif;
	font-style: italic;
}

/*About Image*/

.about-img {
	height:auto;
	margin-bottom: 2em;
}


/*Product List Images*/
.product-img {
  	background-color: #FFF;
  	position: relative;
}

.thumbnails .grid-col-1of4 {
	padding: 0.5em 1em 0 0;


}

.main-img {
	position:absolute;
	left: 0;
	top: 0;
}

.main-img:hover{
  	opacity: 0;
}

.product-name{
	font-size: 0.8em;
	font-weight: normal;
	margin-bottom: 0;
	text-decoration: none;
	color: #303030;
}

.product-name:hover {
	color: #484848;
	text-decoration: underline;
	-webkit-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
}

.product-details{
    float: left;
    margin: 1em;
    width: 350px;
}


.product-details h4 {
	font-family: "Circular Std", Verdana, sans-serif;
	font-size: 1.4em;
	margin: 0.5em 0;
	letter-spacing: 0.07em;
}

.product-details .price-tag {
	font-size: 1.2em;

}

.description-title h4 {
	font-family: "Circular Std", Verdana, sans-serif;
	font-size: 0.8em;
	margin-top: 0;
	margin-bottom: 1em;
	letter-spacing: 0.07em;
	text-transform: uppercase;
}

.product-description {
	margin: 0em;
	font-size: 0.70rem;
	letter-spacing: 0.05rem;
	max-width: 50em;
}

.price-tag{
	 margin-top: .25em;
	 font-family: Garamond, Times, serif;
	 font-size: 0.8em;
	 font-style: italic;
	 font-weight: bolder;
	 letter-spacing: 0.08em;
	 text-decoration: none;
	 color: #303030;
}


.addtocart-button {
	display: inline-block;
	padding: 0.7em 1em;
	width: 280px;
	color: #FFF;
	background-color: #000;
	border: 2px solid #000;
	font-size: 1rem;
	text-decoration: none;
	letter-spacing: 0.05rem;
	font-weight: normal;
	text-align: center;
}

.sizechart-link {
	font-size: 0.8em;
	font-weight: lighter;
	color: #000;
	margin: 3em 0;
	text-decoration: underline;
}

.sizechart-link:hover {
	color: #f1f1f1;
	text-decoration: underline;
}


.ticket {
	margin: 0 0 1.5em 0;
}

[class^='area-'] {
	margin: 0em 0 1.5em 0;
}

.area-color {
	
}

.area-selection .grid-col-1of2 {
	padding: 0;

}

.area-button {

}

.area-description p {
	font-size: 0.8em;
}

.area-additional p, ul {
	letter-spacing: 0.05em;
	font-size: 0.8em;
	list-style: circle;
	padding-left: 0.5em;
}

.area-chart {

}

.colour-swatch{
	float: left;
	margin: 0 1.5em 0 0;
	width: 50px;
	height: 45px;
	border: none;
}

.colour-swatch:focus{
	border: 2px solid;
	border-color: #000;
}


.size-button{
    background-color: #FFF;
    color: #000;
    padding: 16px;
    font-size: 0.8em;
    border: 0.5px solid #f1f1f1;
}

.dropdown-size-button{
	position: relative;
    display: inline-block;
    padding-bottom: 1em;
}

.dropdown-size-button-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 106px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 12;
}


.dropdown-size-button-content a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 0.8em;
    text-align: center;
}

.dropdown-size-button-content a:hover {
	background-color: #f1f1f1
}

.dropdown-size-button:hover .dropdown-size-button-content {
    display: block;
}

.dropdown-size-button:hover .size-button {
    background-color: #f1f1f1;
}

.quantity-form input[type=text]{
	display: inline-block;
	margin-bottom: 1em;
	padding: 16px;
	width: 106px;
    border: 0.5px solid #f1f1f1;
	color: #000;
	background-color: #FFF;
	font-size: 0.8rem;
	font-weight: normal;
}


/*LandingPage*/
#global-nav {

	position:relative;
	padding:0;
	background: #fff;
    border-bottom: 1px solid #f1f1f1;
}

#logo {
	margin:0;
	text-decoration: none;
	color: black;
	height: auto;
	width: 165px;
	padding: 0.7rem 1em;
}

.secondary-nav {
	position: absolute;
	right: 0;
}
.secondary-nav-item {
	float: left;


}



.material-icons {
	color: #C0C0C0;

}


.material-icons:hover {
	color: #000;
	-webkit-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
}

.landing-banner {
	background-color: #C0C0C0;
	height: 40vw;
	margin: 0 1em;
	overflow: hidden;
	position: relative;
}

.landing-banner img{
	position: absolute;
	top: -30%;
	width: 100%;

}

#global-footer {
	border: none;
	background-color: #F7F7F7;
	margin: 3.5em -3% -3% -3%;
	padding: 3em;
	width: auto;
	color: #000;

}

.footer-nav li{
	list-style: none;
	padding-bottom: 1em;
}


.footer-nav {
	padding-left: 0;
	margin:0;
}


.newsletter-form {
	float: right;
}

#global-footer h4, h2, p {
	margin: 0;
	margin-bottom: 0.5em;

}



.newsletter-form input.submit-button{
	display: inline;
  	width: 100px;
}

textarea#styled{
	width: 100%;
	height: 150px;
	max-width: 100%;
	max-height: 300px;
	border: 0.5px solid #f1f1f1;
	background-color: #FFF;
	color: #000;
	padding: 5px;
	font-size:0.8em;
}


/*Featured Section*/

#featured {
	border: none;
	margin-top: 1em;
}

.large-featured, .small-featured {
	background-color: #C0C0C0;
	width: 100%;
	height: 310px;
	overflow: hidden; /*crops excess image*/
	position: relative;


}


.large-featured img, .small-featured img {
	position: absolute;
	width: 100%;
	z-index: 1;
	top: 50%;
	transform: translateY(-50%);

}


.large-featured p, .small-featured p {
	font-size: 2rem;
	font-family: Garamond, Times, serif;
	position: absolute;
	top: 40%;
	transform: translateY(-50%);
	width: 100%;
	left: 0;
	z-index: 2;
	text-align: center;

}

.overlay-button {
  display: inline-block;
  padding: 0.7em 1em;
  color: #000;
  background-color: #FFF;
  font-size: 1rem;
  text-decoration: none;
  letter-spacing: 0.05rem;
}

.overlay-button:hover, .overlay-button:focus {
  background-color: #000;
  color: #FFF;

}

.large-featured .overlay-button, .small-featured .overlay-button{
	position: absolute;
	z-index: 3;
	transform: translate(-50%, -50%);
	top: 60%;
	left: 50%; 

}


/*-----------BLOG---------------*/

.title {
	text-align: center;
	margin-top: 2em;
}

.blog-description p{
	font-size: 0.8em;
	margin-bottom: 1em;
}

.blog-description h4 {
	margin: 0.5em 0;
}


.blog-date {
	font-style: italic;
	font-family: Garamond, Times, serif;
	font-size: 1.10em;
	margin-top: 1em;
	margin-bottom: 0;
	font-style: italic;
	letter-spacing: 0.08em
}


/*------------STOCKIST--------*/


.store-name {
	font-weight: 700;
}

.store-contact p, .store-location p {
	margin-bottom: 0;
}

#stockists h2{
	padding: 0 0.6em;
}

.store-list{
	padding-top: 1em;
}
