/*Style Guide Styling
Default styling guide

Katelynn Ngo
301178351
IAT 339 | D101
P01 Final Deliverable
*/


body {
	font-family: "Circular Std", Verdana, sans-serif;
	background-color: #FFF;
	margin: 2rem;
}


section {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding-bottom: 1em;
	border-bottom: 0.05em solid #303030;
}


section p, p, ol, ul {
	margin: 0.8em;
	font-size: 0.80em;
	letter-spacing: 0.05rem;
	max-width: 50em;
}

section code {
	background-color: #EEE;
	padding: 0.5em 0.75em;
	display: block;
}

nav a {
	margin: 0.5em;
	padding: 0.5em;
	color: #303030;
	text-decoration: none;
	text-align: center;
	border-bottom: 0.2rem solid transparent;
}

nav a:hover, nav a:focus {
	text-decoration: line-through;

}


li {
	padding-bottom: 0.5em;
}


/* ------------------- Text Elements ------------------- */

section h3 {
	font-family: "Circular Std", Verdana, sans-serif;
	font-size: 1.5rem;
	margin-top:1.5rem;
	margin-bottom: 0;
}

section h4 {
	font-family: "Circular Std", Verdana, sans-serif;
	font-size: 1.25rem;
	margin-top: 1.25rem;
	margin-bottom: 1.25rem;
	width: 100%;
}

section h5 {
	font-family: Garamond, Times, serif;
	font-size: 1.10em;
	font-style: italic;
	margin-top: 1.25rem;
	margin-bottom: 0.75rem;
	letter-spacing: 0.08em;
}

section h6 {
	font-family: "Circular Std", Verdana, sans-serif;
	font-size: .75rem;
	margin-top: 1.25rem;
	margin-bottom: 0.75rem;
	text-transform: uppercase;
	letter-spacing: 0.08em;
}


/* ------------------- Interactive Elements ------------------- */

/** Styling for In-text Links **/
.textlink{
  font-size: 0.9em;
  font-weight: lighter;
  color: #000;
  text-decoration: none;
}

.textlink:hover {
  text-decoration: underline;
}


/** Styling for Navigation Button **/
.button-nav {
  display: inline-block;
  margin: 0.25em 0.25em;
  padding: 0.75em 1em;
/*  border: 0.2rem solid #fff;*/
  color: #303030;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.05rem;
  -webkit-transition: background-color 0.5s, color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button-nav:hover, .button-nav:focus {
  text-decoration: line-through;

}



/** Styling for Forms and Submit/Reset **/
form {
	margin: 0;
	font-size: 0.8em;
	font-weight: bolder;
	text-decoration: none;
}

input[type=text]{
	display: inline-block;
	margin: 1em;
	margin-bottom: 0;
	padding: 1em 1em 0 1em;
	width: 300px;
	height: 30px;
	border: none;
	border-bottom: 0.15rem solid #000;
	color: #000;
	background-color: #FFF;
}

label {
	font-size: 1.2em;
	margin-bottom: 0;
	vertical-align: bottom;

}

textarea:focus, input:focus{
    outline: 0;
}

input.button-submit {
  display: inline-block;
  margin: 0.25em 0.25em;
  padding: 0.5em 0.5em;
  width: 200px;
  height: 40px;
  color: #FFF;
  background-color: #000;
  border-color: #000;
  font-size: 0.90em;
  text-decoration: none;
  letter-spacing: 0.05rem;

}

.button-submit:hover, .button-submit:focus {
  background-color: #F8F8F8;
  color: #000;

}


input.button-cancel {
  display: inline-block;
  margin: 0.25em 0.25em;
  padding: 0.5em 0.5em;
  width: 200px;
  height: 40px;
  color: #000;
  background-color: #FFF;
  border-color: #000;
  font-size: 0.90em;
  text-decoration: none;
  letter-spacing: 0.05rem;
  opacity: 0.5;

}

.button-cancel:hover, .button-cancel:focus {
	opacity: 1;


}

/* ------------------- Colour Palette Elements ------------------- */

/** Styling for Colour Palette**/


.swatch{
	margin: 0.25em 0.25em;
  	padding: 0.75em 1em;
	text-align: center;
	width: 150px;
	height: 20px;
}

.black{
	background-color: #000;
}

.grey{
	background-color: #303030;
}

.lightGrey{
	background-color: #C0C0C0;
}

.offWhite{
	background-color: #F8F8F8;
	border: 0.05rem solid #000;

}

.navy{
	background-color: #290066;
}

.periwinkle{
	background-color: #9999ff;
}

.lavendar{
	background-color: #e6e6ff;
}

.peach{
	background-color: #ffe6e6;
}


/* ------------------- Combined Elements ------------------- */

/** Styling for Images **/
img {
	height: auto; 
	max-width: 100%;
	border: 1px solid #FFF;

}

figure {
	margin: 0;
}

figcaption {
	font-family: Garamond, Times, serif;
	font-style: italic;
}

.product-img{

  	background-color: #FFF;
    -webkit-transition: background-color 0.5s, color 0.5s ease-out;
  	transition: background-color 0.5s ease-out;

}

.product-img:hover {
  	opacity: 0.8;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
}

.productName {
	font-size: 0.9rem;
	font-weight: bold;
	padding: 0.5em;
	text-decoration: none;
	color: #303030;
}

.productName:hover {
	color: #484848;
	text-decoration: underline;
	-webkit-transition: color 0.2s ease-out;
	transition: color 0.2s ease-out;
}

.productDescription {
	margin: 0.8em;
	font-size: 0.70rem;
	letter-spacing: 0.05rem;
	max-width: 50em;
}

.priceTag{
  margin-top: .25rem;
  margin-bottom: .75rem;
  padding-left: 0.5em;
  font-family: Garamond, Times, serif;
  font-size: 0.90rem;
  font-style: italic;
  font-weight: bolder;
  letter-spacing: 0.08em;
  text-decoration: none;
  color: #303030;
}



